<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1:hover{
            color: aqua;
            border: double;
            border-radius: 15px 0 15px 0;
            background-color: black;
        }
    </style>
</head>
<body>
    <center>
        <h2>This app3 Page</h2>
        <h1><a href="{% url 'siva1:siva1' %}">Go To siva1 page</a></h1>
        <h1><a href="{% url 'siva2:siva2' %}">Go To siva2 page</a></h1>
        <h1><a href="{% url 'siva4:siva4' %}">Go To siva4 page</a></h1>

    </center>
</body>
</html>